nav {
  border-bottom: solid #ffebdc 1px;
}

.sticky1 {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
}

.nav-wrapper {
  background-color: #ffebdca8;
}

ul {
  display: flex;
  justify-content: center;
}

nav ul a {
  color: #2d0f41;
}

nav a {
  color: #2d0f41;
}

.content {
  padding: 16px;
}

.schedule {
  color: #ffffff;
  border: solid black 1px;
  background-color: #422454c0;
  font-size: x-large;
  font-family: 'Bangers', sans-serif;
  text-shadow: #000000 2px 0 2px;
  box-shadow: #42245471 2px 2px;
  margin: 2%;
  padding: 2%;
  text-align: center;
  border-radius: 25px;
}

.row.valign-wrapper {
  border: solid #ffebdc 1px;
  border-radius: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  margin: 0;
}

.round {
  border: solid black 2px;
  box-shadow: #422454a8 3px 3px;
  width: 50% !important;
}

.date.schedule {
  width: 40% !important;
}

.round:hover {
  box-shadow: #ffffffa8 3px 3px;
  border: solid #422454a8 2px;
  cursor: pointer;
}

.left.schedule {
  margin-left: 2%;
}

.bg {
  background-image: url(../../assets/images/background.png);
  background-repeat: repeat;
  margin: 0%;
}

.details{
  width: 75% !important;
  background-color: #422454c0;
  display: flex;
  justify-content: space-around;
}

.details img{
  width: 30%;
  height: 100%;
}

.details p{
  width: 55%;
  text-align: justify;
}