<div class="bg">
    <div id="staff_container">
        
        <h2>Host</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Graphic Designer</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Mappool Selector</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Web Developer</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Wiki Editor</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Streamer</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Commentator</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Referee</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Pseudo</h4>
                <img src="https://via.placeholder.com/150" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Contributor</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Ladylag</h4>
                <img src="../../assets/images/pp/Ladylag.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

    </div>
</div>