<div class="bg" id="table_container">
    <table>
        <thead>
            <tr>
                <th><i class="fas fa-globe-americas"></i>Country</th>
                <th><i class="fas fa-user"></i>Avatar</th>
                <th><i class="far fa-address-card"></i>Player</th>
                <th>Seeding</th>
                <th>Taiko rank</th>
                <th>PP Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table_country">France</td>
                <td class="table_img"><img src="https://via.placeholder.com/150" alt="avatar"></td>
                <td class="table_player">John Doe</td>
                <td>84984984</td>
                <td>84984984</td>
                <td>54655464</td>
            </tr>
            <tr>
                <td class="table_country">France</td>
                <td class="table_img"><img src="https://via.placeholder.com/150" alt="avatar"></td>
                <td class="table_player">John Doe</td>
                <td>84984984</td>
                <td>84984984</td>
                <td>54655464</td>
            </tr>
            <tr>
                <td class="table_country">France</td>
                <td class="table_img"><img src="https://via.placeholder.com/150" alt="avatar"></td>
                <td class="table_player">John Doe</td>
                <td>84984984</td>
                <td>84984984</td>
                <td>54655464</td>
            </tr>
        </tbody>
    </table>
</div>
