#table_container{
    padding: 50px; 
    background-image: url(../../assets/images/background.png);
    background-repeat: repeat;
}

#table_container i{
    margin-right: 15px;
}

#table_container table{
    border: 3px solid black;
    background-color: #422454c0;
    color: white;
    font-size: 2em;
}

#table_container th, #table_container td{
    text-align: center;
}

#table_container th{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#table_container td{
    border: 1px solid black;
}

.table_img{
    width: 15%;
}

.table_img img{
    width: 80%;
}

.table_country{
    width: 15%;
}

.table_player{
    width: 25%;
}